@charset "utf-8";
/* CSS Document */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
    text-align: left;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  padding: 1em;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 10px;
}
.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 380px;
  padding: 5px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  display: block;
  width: 100%;
  background: blue none repeat scroll 0 0;
}
.inside #map {
  background-color: #ccc;
  height: 250px;
  width: 100%;
}
.inside #footer {
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 10px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /* padding: 140px 40px 30px; */
  /* width: 50%; */
}
/* #reviews-container {
  padding: 30px 40px 80px;
} */
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  margin: 1em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 2em 0 2em 0;
  display: block;
  list-style-type: none;
  margin: 30px;
  overflow: hidden;
}
#reviews-list li p:first-of-type,
#reviews-list li p:nth-of-type(2) {
  display: inline-block;
  font-size: 1.5em;
  background-color: #333;;
  color: #fff;
  padding: 1em;
  margin: 0;
  width: 50%;
}
#reviews-list li p:nth-of-type(2) {
  text-align: right;
  font-size: 1em;
  padding: 2em;
}
#reviews-list li p:nth-of-type(3) {
  display: inline-block;
  color: #fff;
  background-color: orange;
  padding: 5px 10px;
  border-radius: 0.25em;
  margin-left: 1em;
}
#reviews-list li p:nth-of-type(4) {
  padding: 1em;
}
#restaurant-hours td {
  color: #666;
  padding-left: 1em;
}

/* media queries */
@media screen and (min-width: 420px) {
  .selections {
    flex-direction: row;
  }
  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 650px) {
  #restaurants-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1150px) {
  #restaurants-list {
    grid-template-columns: repeat(4, 1fr);
  }
}